.ProjectMainContainer{
    height: 460px;
    width: 900px;
    /* border: 1px solid rebeccapurple; */
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:grid ;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    
}

#style-14::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-14::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
    border-radius: 10px;
}

#style-14::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 0, 0,0.5);
}
.ProjectMainContainer .Box{
     /* border: 2px solid black; */
     height: 350px;
     width: 270px;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 20px;
     font-size: 30px;
     flex-direction: column;
     /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
     background-color: rgba(199,197,196, 0.5);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.ProjectMainContainer .Box .Video{
    height: 75%;
    width: 100%;
    /* outline: 1px solid red; */
    
}
.ProjectMainContainer .Video video{
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
.ProjectMainContainer .Box .Source_code{
    height: 20%;
    width: 100%;
    /* outline: 1px solid red; */
    
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.ProjectMainContainer .Source_code .Project_Buttom{
    height: 70%;
    width: 50%;
    outline: 1px solid white;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #c4c3c3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}